<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
<style>
    body {
        margin: 0px !important;
        padding: 0px !important;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-smooth: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #546778;
    }
    .main {
        padding: 20px;
    }
    .content {
        max-width: 500px;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        border-radius: 10px;
        background-color: #eef2f7;
    }
    .heading {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .paragraph {
        margin-bottom: 15px;
    }
    .button {
        display: inline-block;
        background-color: #4e91e4;
        color: #ffffff;
        height: 34px;
        line-height: 34px;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        transition: opacity 0.3s;
    }
    .button:hover {
        opacity: 0.8;
    }
</style>
<title>{{ title }}</title>
<div class="main">
    <div class="content" align="center">
        <div class="heading">{{ title }}</div>
        <div class="paragraph">{{ message }}</div>
        <a href="/" class="button">Back to home</a>
    </div>
</div>

