<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
<style>
    body {
        margin: 0px !important;
        padding: 0px !important;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-smooth: antialiased;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #546778;
    }
    .main {
        padding: 20px;
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        margin-top: 150px;
        padding: 40px;
        border-radius: 10px;
        background-color: #eef2f7;
    }
    .heading {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .paragraph {
        opacity: 0.7;
    }
    .button {
        display: inline-block;
        background-color: #4e91e4;
        color: #ffffff;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        font-size: 13px;
        transition: opacity 0.3s;
        margin-top: 10px;
    }
    .button:hover {
        opacity: 0.8;
    }
    .links {
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
    }
    .link {
        text-decoration: none;
        color: #879aab;
        font-size: 13px;
        transition: color 0.3s;
        padding-left: 10px;
        padding-right: 10px;
    }
    .link:hover {
        color: #4e91e4;
        text-decoration: underline;
    }
</style>
<title>{{page.title}}</title>
<div class="main">
    <div class="content" align="center">
        <div class="heading">{{page.title}}</div>
        <div class="paragraph">{{page.message}}</div>
        {{#if page.showHomeButton}}
        <a href="{{home}}" class="button">Back to home</a>
        {{/if}}
    </div>
    <div class="links" align="center">
        {{#each links}}
        <a href="{{this.url}}" class="link">{{this.text}}</a>
        {{/each}}
    </div>
</div>

